@import "tailwindcss";

:root {
  /* BGS */
  --bg-primary: #f3f3f3;
  --bg-secundary: #000;

  /* TEXT COLORS */
  --text-primary: #000;
  --text-secundary: #f3f3f3;
}

.bg-primary {
  background-color: var(--bg-primary);
}
.bg-secundary {
  background-color: var(--bg-secundary);
}

.text-primary {
  color: var(--text-primary);
}
.text-secundary {
  color: var(--text-secundary);
}

body {
  background-color: var(--bg-secundary);
  color: var(--text-secundary);
}
.grain {
  position: absolute;
  inset: 0;
  background-image: url("/images/png/NOISEE.png");
  background-repeat: repeat;
  background-size: 200px 200px;
  pointer-events: none;
  z-index: 999999999;
  opacity: 0.38;
  mix-blend-mode: screen;
}

:is([class*="u-text-style-"], h1, h2, blockquote) {
  display: flow-root;
}
:is([class*="u-text-style-"], h1, h2, blockquote)::before {
  content: "";
  display: table;
  margin-bottom: calc(-0.5lh + 0.48em);
}
:is([class*="u-text-style-"], h1, h2, blockquote)::after {
  content: "";
  display: table;
  margin-bottom: calc(-0.5lh + 0.27em);
}
